# Ignore gem files
*.gem

# Ignore sublime workspace files
*.sublime-workspace

# Ignore bundler configuration
.bundle

# Ignore ruby gemset configuration
.ruby-gemset

# Ignore ruby version configuration
.ruby-version

# Ignore shopware configuration
.shopware

# Ignore `Gemfile.lock`
Gemfile.lock

# Ignore `data` folder
data

# Ignore `pkg` folder
pkg